################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuoteManager/obj
/QuoteManager/bin/Debug/netcoreapp3.1
/QuoteManager.Test/obj
/QuoteManager.Test/bin/Debug/netcoreapp3.1
